In [8]:
#원리금 합계 구하기
a=100
r=0.05
n=10
result = a*(1+r)**n

print("원리금 합계=",result)

원리금 합계= 162.8894626777442

In [9]:
a=10
b=1
result = b**a
print(result)

1

In [16]:
price = 12345
tax = price * 0.075
tax = round(tax,3)
print(tax)

925.875

In [17]:
msg = "hello"
print(msg)
msg='hi'
print(msg)

hello
hi

In [19]:
#세 따움표 문자열 - 여러줄 표시 가능
a= """
안녕하세요~
지금~
머할까 궁금한데!
파이썬
배워야하나~

"""
print(a)

안녕하세요~
지금~
머할까 궁금한데!
파이썬
배워야하나~

In [20]:
menu="""
1.시작
2.수정
3.삭제
==>번호를 선택하세요:
"""
print(menu)

1.시작
2.수정
3.삭제
==>번호를 선택하세요:

In [21]:
"hello"+"world"

'helloworld'

In [27]:
Lines="-" * 30
print(Lines)
Lines="말자 " * 30
print(Lines)

------------------------------
말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자 말자

In [31]:
movie = "Terminator " + str(3) #<<숫자를 문자로 변환
print(movie)

# movie = "Terminator " + 3  <<에러~~
# print(movie)

Terminator 3

In [32]:
print("말 한마디로\n 천냥 빚을\n 갚는다")

말 한마디로
 천냥 빚을
 갚는다

In [39]:
a= "Kim"
b= "Park"
c= "Lee"
acronym = a[0]+"과"+b[0]+"과"+c[0]
print(acronym)
 #acronym = a[0]+"과"+b[0]+"과"+c[0] 들여쓰기 조심~~~ 오류난다~

K과P과L

In [43]:
#파이썬은 모든 변수를 오브젝트로 선언한다.
#즉 함수와 필드값을 가지고 있다~~

name = "Harry Parter"
lower_name = name.lower()
print(lower_name)
upper_name = name.upper()
print(upper_name)

harry parter
HARRY PARTER

In [ ]:
a=5
a.numerator 
# 변수가 존재하지 않는다!
#오브젝트일뿐! 오브젝트는 필드값과 메소드를 갖는다!
#그래서 도트(.)연산자를 통해 접근하여 내부 메소드나 필드값을 사용할수있다.